
.rahma{

    width: 30%;
    color: grey;
    margin-right:2%;
    }
.flex{
    display:flex ;
    justify-content:center;
    size: 50%;
       
    font-size:1.125rem;
       }
    .card{
    width: 20%;
    color:white;
    border: radius 20px;
    padding: 25px;
    margin-right:3%;
    background-color:#00b39b;
    }
    .patients{
    
    }
    .doctors{
background-color: #075cbd;
    }
    .clinics{
    background-color:  #011327;
    }
    .dd{
        display:flex ;
        justify-content:center;
    }
.tt{
display:flex;
align-items:baseline;
justify-content:space-between;
}
.re{

height:50%
}
.pictures{
width:26%;
}
.SS{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item{
color: white    ;

margin: 0;
padding:0;
background: #00b39b;
}

.title{
color:#00b39b;;
font-size:5.125rem;
margin: 0;
padding:0;
text-align: center;
size:50%;
font-weight: 300

}






#test{
color: black;
}




box{
    display:flex;
    max-width: 100%;
    justify-content:space-between;
    width: 200;
    size: 1000px;
    flex-wrap: wrap;
    font-size: 1.625em;
    font-weight: 400;
    color:blue;
    margin: 0.3em 0;
    box-sizing: inherit;

}

.container{
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
}
.id{
color: grey;
}

.logo-docplanner {
    width: 268px;
    height: 33px;
}






