
.flex{
    display:flex ;
    justify-content:space-around;
    size: 50%;
       
    color:#00b39b;;
    font-size:5.125rem
    
  
    }
.item{
color: white    ;

margin: 0;
padding:0;
background: #00b39b;
}

h1{
color:#00b39b;;
font-size:5.125rem
margin: 0;
padding:0;
text-align: center;
size:50%
font-weight: 300

}



#img{
    display:flex;
    flex-wrap:wrap-reverse;
    max: width 100%;
    height: auto;
    justify-content:space-evenly;
    
    justify-content: center;
    align-items: center;
    overflow-clip-margin: content-box;
overflow:inherit;
    margin: 0 auto;
    box-sizing: inherit;

.image{
display:flex: ;;
}

#test{
color: black;
}




box{
    display:flex;
    max-width: 100%;
    justify-content:space-between;
    width: 200;
    size: 1000px;
    flex-wrap: wrap;
    font-size: 1.625em;
    font-weight: 400;
    color:blue
    margin: 0.3em 0;
    box-sizing: inherit

}

.container{
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease 0s;
}
.id{
color: grey;
}
img{
display:flex;
flex-wrap: wrap;
justify-content: space-between;
width:400px;
height:400px 
overflow-clip-margin: content-box;
overflow: clip;
border: 0;
box-sizing: inherit;
}
.logo-docplanner {
    width: 268px;
    height: 33px;





